table {
  &.hidden-forms {
    tr {
      height: 40px; 
      min-height: 40px; 
      td {
        min-width: 50px;
        padding: 5px;
        select {
          width: 100%;
        }
        &.total,
        &.value {
          text-align:center;
          cursor: pointer;
          &:hover {
            background: url(/edit.png) no-repeat right;
          }
        }
      }
    }
    .warning {
      color: orange;
    }
    .error {
      color: red;
    }
  }
}
