table {
  &.hidden-forms {
    tr {
      height: 40px; 
      min-height: 40px; 
      td {
        background-color: #ddd;
        min-width: 50px;
        padding: 5px;
        select {
          width: 100%;
        }
        &.value {
          background-color: #eee;
          &.total {
            background-color: #ddd;
          }
        }
        &.editable {
          text-align:center;
          cursor: pointer;
          &:hover {
            background: url(/edit.png) no-repeat right;
          }
        }
        &.add {
          background-color: #fff;
          &.thead {
            background-color: #ddd;
          }
        }
      }
    }
    .warning {
      color: orange;
    }
    .error {
      color: red;
    }
  }
}
