table {
  &.hidden-forms {
    tr {
      height: 40px; 
      min-height: 40px; 
      td {
        min-width: 50px;
        padding: 5px;
        select {
          width: 100%;
        }
        &.value {
          text-align:center;
        }
      }
    }
  }
}
