<span id='project_<%= project.id %>_label' class='project_label'>
  <span class='project'>
    <%= project.new_record? ? "+" : project.name %>
  </span>
</span>
<%= content_tag :span,
      render("projects/form_names_only", :project => project),
      :id => "project_#{project.id}_form",
      :class => "project_form" %>
<span class='project_loading'><img alt='loading symbol' src='/loading.gif'></img></span>
