<span id='worker_<%= worker.id %>_label' class='availability_label'>
  <span class='total'>
    <%= @projects.inject(0){|sum,project| sum + @assignment_days[worker][project]} %>
  </span>
  /
  <span class='availabilities'>
    <%= worker.get_available_days @year, @week %>
  </span>
</span>
<%= content_tag :span, 
      render("availabilities/form_days_only", :availability => @availabilities[worker]),
      :id => "worker_#{worker.id}_form",
      :class => "availability_form" %>
<span class='availability_loading'><img alt='loading symbol' src='/loading.gif'></img></span>
